body {
  padding: 0;
  margin: 0;
  background: #383c4a;
  font-family: 'Source Sans Pro', sans-serif;
}
.messageHolder {
  width: auto;
  height: 90vh;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 5px;
  display: block;

  /* to hide the scrollbar in FF */
  scrollbar-width: none;
}
.messageHolder::-webkit-scrollbar {
  display: none;
}
.messageBox {
  width: 100%;
  height: auto;
  padding: 10px;
  background: #4b5162;
  color: #fff;
  display: block;
  margin-bottom: 10px;
  border-radius: 5px;
  box-sizing: border-box;
}
.messageBox .author {
  width: 100%;
  float: left;
  color: #5294e2;
  display: block;
}
.messageBox:hover {
  background: #7c818c;
  transition: 0.1s ease-in-out;
  cursor: pointer;
}
.talkyPart {
  background-color: #383c4a;
  border: #404552 solid 1px;
  height: auto;
  width: 100%;
  padding: 5px;
  overflow: hidden;
  box-sizing: border-box;
  display: block;
}
.talkyBoxInput {
  width: 100%;
  border:none;
  box-sizing: border-box;
  background-color: #383c4a;
  
  border-radius: 5px;
  display: block;
  font-size: 18px;
  color: #fff;
  text-align: left;
  resize: none;
}

/* Voice channels */
.voiceChannels {
  width: 100%;
  padding: 5px;
}
.channel {
  min-height:150px;
  width: 100%;
  height: auto;

  padding: 10px;
  background: #4b5162;
  color: #fff;
  display: block;
  margin-bottom: 10px;
  border-radius: 5px;
  box-sizing: border-box;
}

.channel:nth-child(1) {
  border: 1px #5294e2 solid;
}
.channel:nth-child(2) {
  border: 1px #BCED91 solid;
 }
.channel:nth-child(3) {
  border: 1px #FF6666 solid;
 }
 .channel:nth-child(4) {
  border: 1px #F3E88E solid;
 }

 .channelPeople{
  display: flex;
  justify-content: space-between;
  overflow: hidden;
 }
 .circle {
  width: 50px;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 50%;
  overflow: hidden;
  transform: rotate(45deg);
}
.circle:nth-child(1){
  background: #5294e2;
}
.circle:nth-child(2){
  background: #BCED91;
}
.circle:nth-child(3){
  background: #FF6666;
}
.circle:nth-child(4){
  background: #F3E88E;
}
.circle:nth-child(5){
  background: #9A32CD;
}
hr {
  color: #fff;
}

button {
  background-color: #383c4a; /* Green */
  border: #5294e2 solid 1px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.get-away {
  padding-left: 10px;
}


/* Add a black background color to the top navigation */
.topnav {
  background-color: #404552;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #404552;
  color: #fff;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #5294e2;
  color: white;
}